NODE_ENV=development
PORT=3000
HOST=localhost
DATABASE_URL_DEV=postgresql://postgres:postgres@localhost:5432/postgres
DATABASE_URL_PROD=postgresql://postgres:postgres@localhost:5432/postgres
DATABASE_URL_TEST=postgresql://postgres:postgres@localhost:5432/postgres
JWT_SECRET=your-secret-key
COOKIE_SECRET=your-cookie-secret
